#signup{
	font-size:45px;
	font-style:normal;
	font-family: cursive;
	color: green;
}
#label{

	font-family: cursive;
	color: green;
}
#p{
	font-family: cursive;
	color: white;
}
#h6{
	font-family: cursive;
	color: white;
	text-align: center;
}
.h4{

color: white;

}
.clr{
	color: white;
}
#login_button{

	text-align: center;
}
